/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
}

@layer components {
  #app {
    font-family: Avenir,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    height: calc(100vh - 55px);
    @apply w-full mt-10 text-center text-gray-500;
  }

  .barPanel {
    @apply w-full h-24 relative bg-yellow-200 text-black py-3 text-lg rounded-none sm:h-12;
  }

  .liwa-edit-00 {
    @apply flex mb-2;
  }

  .liwa-edit-00 .liwa-label {
    @apply text-sm text-white border border-2 rounded-l px-4 py-2 whitespace-nowrap w-1/6;
  }

  .liwa-edit-00 .liwa-label.even {
    @apply bg-green-700;
  }

  .liwa-edit-00 .liwa-label.odd {
    @apply bg-green-500;
  }

  .top-icon {
    @apply w-8 h-8 bg-orange-500 float-left justify-between rounded mr-2 cursor-pointer;
  }

  .tab-active {
    @apply -mb-px border-b-4 border-blue-600;
  }
}

@layer utilities {
  .underline-double {
    text-decoration: underline double;
  }
}

